:root {
  /* Paths */
  --images-path: ../images;
  --icons-path: var(--images-path)/icons;

  /* Logos */
  --logo-horizontal: url("../images/logos/logo-horizontal.png");
  --logo-wordmark: url("../images/logos/logo-wordmark.png");
  --logo-stacked: url("../images/logos/logo-stacked.png");
  --logo-icon: url("../images/logos/logo-icon.png");

  /* Font */
  --font-family: "Netto", Arial, sans-serif;

  /* Font sizes */
  --size-display-3: 3.5rem;
  --size-display-2: 2.875rem;
  --size-display-1: 2.125rem;
  --size-headline: 1.5rem;
  --size-title: 1.125rem;
  --size-subheading: 1rem;
  --size-paragraph: 0.875rem;
  --size-small: 0.625rem;

  /* Font leading */
  --leading-display-1: 1.08;
  --leading-headline: 1.33;
  --leading-subheading-2: 1.75;
  --leading-subheading-1: 1.5;
  --leading-paragraph-2: 1.71;
  --leading-paragraph-1: 1.43;

  /* Primary colours */
  --black: #000;
  --white: #fff;

  /* Greyscale */
  --grey-darkest: #333;
  --grey-darker: #666;
  --grey-dark: #999;
  --grey-light: #ccc;
  --grey-lighter: #e6e6e6;
  --grey-lightest: #f3f3f3;

  /* Secondary greens */
  --green-default: #47b347;
  --green-light: #4cbf4c;
  --green-dark: #3d993d;
  --green-darker: #2e732e;
  --green-darkest: #143314;

  /* Secondary limes */
  --lime-default: #cbd92b;
  --lime-light: #d7e62e;
  --lime-dark: #b3bf26;
  --lime-darker: #8f991e;
  --lime-darkest: #535911;

  /* Secondary magentas */
  --magenta-default: #e6177e;
  --magenta-light: #f31885;
  --magenta-dark: #cc287a;
  --magenta-darker: #a6105b;
  --magenta-darkest: #660a38;

  /* Secondary oranges */
  --orange-default: #e67300;
  --orange-light: #f37900;
  --orange-dark: #cc6600;
  --orange-darker: #a65300;
  --orange-darkest: #663300;

  /* Secondary purples */
  --purple-default: #b3239b;
  --purple-light: #bf26a6;
  --purple-dark: #991e85;
  --purple-darker: #731763;
  --purple-darkest: #330a2c;

  /* Spacing */
  --spacing-0: 0;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;

  /* Switch */
  --switch-height: 1rem;
  --switch-width: 2rem;
  --switch-paddle-width: 1rem;

  /* Breakpoints */
  @custom-media --mobile-small all and (min-width: 0);
  @custom-media --mobile-large all and (min-width: 361px);
  @custom-media --tablet all and (min-width: 600px);
  @custom-media --desktop all and (min-width: 841px);
  @custom-media --desktop-large all and (min-width: 1281px);
  @custom-media --desktop-xlarge all and (min-width: 1601px);
}
