@import "../variables.css";

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: max-height .6s, opacity .6s;
}
.slide-fade-leave-active {
  transition: max-height .6s, opacity .6s;
}
.slide-fade-enter-to,
.slide-fade-leave {
  max-height: 300px;
}
.slide-fade-enter, .slide-fade-leave-to {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
