@import "../variables";

button.background-colour-green:hover {
  background-color: var(--green-light)
}

button.background-colour-green:active,
button.background-colour-green:focus,
button.background-colour-green:visited {
  background-color: var(--green-dark)
}

button.background-colour-lime:hover {
  background-color: var(--lime-light)
}

button.background-colour-lime:active,
button.background-colour-lime:focus,
button.background-colour-lime:visited {
  background-color: var(--lime-dark)
}

button.background-colour-magenta:hover {
  background-color: var(--magenta-light)
}

button.background-colour-magenta:active,
button.background-colour-magenta:focus,
button.background-colour-magenta:visited {
  background-color: var(--magenta-dark)
}

button.background-colour-orange:hover {
  background-color: var(--orange-light)
}

button.background-colour-orange:active,
button.background-colour-orange:focus,
button.background-colour-orange:visited {
  background-color: var(--orange-dark)
}

button.background-colour-purple:hover {
  background-color: var(--purple-light)
}

button.background-colour-purple:active,
button.background-colour-purple:focus,
button.background-colour-purple:visited {
  background-color: var(--purple-dark)
}
