@import "../variables";

.sensis-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sensis-header,
.sensis-main,
.sensis-footer {
  display: flex;
}

.sensis-header {
  order: 1;
}

.sensis-main {
  order: 3;
}

.sensis-footer {
  order: 4;
}

.sensis-main {
  flex-direction: column;
}

.sensis-main {
  flex: 1;
}

@media (--tablet) {
  overflow: scroll;
}
