@import "../variables";

.sui-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sui-header,
.sui-main,
.sui-footer {
  display: flex;
}

.sui-header {
  order: 1;
}

.sui-alert {
  order: 2;
}

.sui-main {
  order: 3;
}

.sui-footer {
  order: 4;
}

.sui-main {
  flex-direction: column;
  overflow: scroll;
}

.sui-main {
  flex: 1;
}

@media (--tablet) {
  overflow: scroll;
}
