@import "../variables.css";

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-lightest);
}

body::-webkit-scrollbar {
  width: 0;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--size-paragraph);
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  border: 1px solid var(--black);
  border-radius: 8px;
  width: 100%;
  height: var(--spacing-48);
  padding: 0;
  background-color: transparent;
  transition: background-color 300ms ease-in-out;
}

button:active,
button:focus,
button:visited {
  outline: none;
}
