@import "../../assets/stylesheets/variables";

.sensis-tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sensis-tabs-content {
  overflow-x: scroll;
}

.sensis-tabs {
  display: flex;
  flex: 0 0 auto;
  margin-top: auto;
  justify-content: space-between;
  border-top: 1px solid var(--black);
  height: var(--spacing-48);
  background-color: var(--white);
}

.sensis-tabs a {
  cursor: pointer;
  flex: 1;
  text-align: center;
  color: var(--black);
  text-decoration: none;
}

.sensis-tabs a:hover {
  background-color: var(--grey-lightest);
}

.sensis-tab-icon {
  display: block;
  margin: 10px auto 5px;
  width: var(--spacing-16);
  height: var(--spacing-16);
}

/* Background images */
.sensis-tabs a:nth-child(1) .sensis-tab-icon {
  background-image: url("../../assets/images/icons/profile/profile-default.svg");
}

.sensis-tabs a:nth-child(2) .sensis-tab-icon {
  background-image: url("../../assets/images/icons/star/star-default.svg");
}

.sensis-tabs a:nth-child(3) .sensis-tab-icon {
  background-image: url("../../assets/images/icons/calendar/calendar-default.svg");
}

.sensis-tabs a:nth-child(4) .sensis-tab-icon {
  background-image: url("../../assets/images/icons/check/check-default.svg");
}

/* Hover and Active states */
/* Default (orange) */
.sensis-tabs a:nth-child(1):hover .sensis-tab-icon,
.sensis-tabs a:nth-child(1).is-active .sensis-tab-icon {
  background-image: url("../../assets/images/icons/profile/profile-orange.svg");
}

.sensis-tabs a:nth-child(2):hover .sensis-tab-icon,
.sensis-tabs a:nth-child(2).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/star/star-orange.svg");
}

.sensis-tabs a:nth-child(3):hover .sensis-tab-icon,
.sensis-tabs a:nth-child(3).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/calendar/calendar-orange.svg");
}

.sensis-tabs a:nth-child(4):hover .sensis-tab-icon,
.sensis-tabs a:nth-child(4).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/check/check-orange.svg");
}

/* Lime */
.tab-lime .sensis-tabs a:nth-child(1):hover .sensis-tab-icon,
.tab-lime .sensis-tabs a:nth-child(1).is-active .sensis-tab-icon {
  background-image: url("../../assets/images/icons/profile/profile-lime.svg");
}

.tab-lime .sensis-tabs a:nth-child(2):hover .sensis-tab-icon,
.tab-lime .sensis-tabs a:nth-child(2).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/star/star-lime.svg");
}

.tab-lime .sensis-tabs a:nth-child(3):hover .sensis-tab-icon,
.tab-lime .sensis-tabs a:nth-child(3).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/calendar/calendar-lime.svg");
}

.tab-lime .sensis-tabs a:nth-child(4):hover .sensis-tab-icon,
.tab-lime .sensis-tabs a:nth-child(4).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/check/check-lime.svg");
}

/* Magenta */
.tab-magenta .sensis-tabs a:nth-child(1):hover .sensis-tab-icon,
.tab-magenta .sensis-tabs a:nth-child(1).is-active .sensis-tab-icon {
  background-image: url("../../assets/images/icons/profile/profile-magenta.svg");
}

.tab-magenta .sensis-tabs a:nth-child(2):hover .sensis-tab-icon,
.tab-magenta .sensis-tabs a:nth-child(2).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/star/star-magenta.svg");
}

.tab-magenta .sensis-tabs a:nth-child(3):hover .sensis-tab-icon,
.tab-magenta .sensis-tabs a:nth-child(3).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/calendar/calendar-magenta.svg");
}

.tab-magenta .sensis-tabs a:nth-child(4):hover .sensis-tab-icon,
.tab-magenta .sensis-tabs a:nth-child(4).is-active .sensis-tab-icon  {
  background-image: url("../../assets/images/icons/check/check-magenta.svg");
}

@media (--desktop) {
  .sensis-tabs-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .sensis-tabs {
    align-self: center;
    margin-top: var(--spacing-48);
    border: 1px solid black;
    border-radius: var(--spacing-8);
    width: 100%;
    max-width: 30rem;
  }

  .sensis-tabs a:first-child {
    border-top-left-radius: var(--spacing-8);
    border-bottom-left-radius: var(--spacing-8);
  }

  .sensis-tabs a:last-child {
    border-top-right-radius: var(--spacing-8);
    border-bottom-right-radius: var(--spacing-8);
  }
}
