@import "../../assets/stylesheets/variables";

.sensis-flash {
  order: 2;
  box-sizing: border-box;
  position: relative;
  color: var(--white);
  background-color: var(--grey-darkest);
}

/* Fixes transition from being jolty */
.sensis-flash-inner {
  padding: var(--spacing-16);
}

.sensis-flash-x {
  cursor: pointer;
  position: absolute;
  top: var(--spacing-16);
  right: var(--spacing-16);
  width: var(--spacing-16);
  height: var(--spacing-16);
  background-image: url("../../assets/images/icons/cross/close-default.svg");
  background-repeat: no-repeat;
}
