@import "../variables.css";

.sensis-header {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  padding: var(--spacing-16);
  background-color: var(--white);
}

.sensis-header-logo {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  border-radius: var(--spacing-24);
  padding: 0.75em 0.6em;
  width: var(--spacing-48);
  height: var(--spacing-48);
  background-color: var(--grey-lightest);
  background-image: url("../../assets/images/logos/logo-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.sensis-header-logo img:last-child {
  display: none;
}

@media (--tablet) {
  .sensis-header-logo {
    margin: 0 0;
    width: 8rem;
    height: 4rem;
    background-color: var(--white);
    background-image: url("../../assets/images/logos/logo-horizontal.svg");
    background-size: 80%;
  }

  .sensis-header-logo img:first-child {
    display: none;
  }

  .sensis-header-logo img:last-child {
    display: block;
  }
}
