@import "../variables";

.sui-form-container {
  align-self: center;
  margin-bottom: var(--spacing-48);
  width: 100%;
  max-width: 30rem;
}

.sui-form {
  padding: 0 var(--spacing-16);
}

.sui-field {
  box-sizing: border-box;
  position: relative;
  margin: var(--spacing-24) 0 var(--spacing-8);
  border: 0;
  height: var(--spacing-48);
  padding: 0;
}

.sui-field-group {
  height: auto;
}

.sui-label {
  position: absolute;
  top: 50%;
  margin-top: -0.375rem;
  padding-left: var(--spacing-16);
  transition: all 150ms ease-in-out;
}

.sui-select {
  appearance: none;
  background-image: url("../../assets/images/icons/arrows/default/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - var(--spacing-16)) center;
}

.sui-select,
.sui-input {
  box-sizing: border-box;
  border: 1px solid var(--black);
  border-radius: var(--spacing-8);
  width: 100%;
  height: 100%;
  padding: 0 var(--spacing-16);
}

.sui-input:focus {
  outline: none;
}

.sui-label.active,
.sui-select:focus + .sui-label,
.sui-input:focus + .sui-label {
  font-size: 80%;
  top: 0%;
  margin-top: -var(--spacing-16);
}

.sui-button-icon {
  margin-right: var(--spacing-8);
  width: var(--spacing-16);
  height: var(--spacing-16);
}
